root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
dotnet_sort_system_directives_first = true
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_prefer_switch_expression = true:suggestion
csharp_style_prefer_pattern_matching = true:suggestion
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true

[*.{json,xml,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_size = 2
